<!DOCTYPE html>
<html>
<head>
	<title>One Year Later</title>

	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">

	<script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>

	<script type="text/javascript">
		angular.module('oneyearlater', [
				'ngMaterial',
			]
		)
		.controller("Ctrl",function($scope){

		})
	</script>
</head>
<body ng-app="oneyearlater" ng-controller="Ctrl">
  <md-button>Good</md-button>
</body>
</html>
